<div class="row">
  <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-success btn-lg btn-block">{{ 'IDEAS.NEW' | translate }}</button>
  <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <header class="modal-header">
          <button type="button" ng-class="{'pull-right': !isArabic(), 'pull-left': isArabic()}" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
          <h4 id="myModalLabel" class="modal-title">{{ 'IDEAS.NEW' | translate }}</h4>
        </header>
        <div class="modal-body">
          <form role="form" ng-submit="create(idea)">
            <div ng-class="{'has-error': errors.trade_id}" class="form-group">
              <select autofocus="autofocus" ng-model="idea.trade_id" ng-options="t.id as t.name for t in trades" class="form-control"></select>
              <div ng-if="errors.trade_id">
                <p ng-repeat="error in errors.trade_id" class="help-block">{{error}}</p>
              </div>
            </div>
            <div ng-class="{'has-error': errors.body}" class="form-group">
              <textarea placeholder="{{ 'CONTENT' | translate }}" required="required" ng-model="idea.body" class="form-control"></textarea>
              <div ng-if="errors.body">
                <p ng-repeat="error in errors.body" class="help-block">{{error}}</p>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">{{ 'IDEAS.NEW' | translate }}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div ng-show="!ideas" class="text-center progress progress-striped active">
  <div role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width: 100%" class="progress-bar"><span class="sr-only">Pending</span></div>
</div>
<section ng-hide="!ideas">
  <div class="row">
    <section class="col-sm-3">
      <div dir="ltr" class="list-group"><a ng-repeat="trade in trades | orderBy:'name'" ng-click="selectTrade(trade.id)" ng-href="#/ideas?trade_id={{trade.id}}" ng-class="{active: isTradeSelected(trade.id)}" class="list-group-item">{{trade.name}}<span class="badge pull-right">{{trade.ideas_count}}</span></a></div>
    </section>
    <section class="col-sm-9">
      <article ng-repeat="idea in ideas" class="text-center lead">
        <div ng-hide="isEditing(idea.id)">
          <p>{{idea.body}}</p>
        </div>
        <div ng-show="isEditing(idea.id)">
          <div ng-class="{'has-error': errors.trade_id}" class="form-group">
            <select autofocus="autofocus" ng-model="idea.trade_id" ng-options="t.id as t.name for t in trades" class="form-control"></select>
            <div ng-if="errors.trade_id">
              <p ng-repeat="error in errors.trade_id" class="help-block">{{error}}</p>
            </div>
          </div>
          <div ng-class="{'has-error': errors.body}" class="form-group">
            <textarea placeholder="{{ 'CONTENT' | translate }}" required="required" ng-model="idea.body" class="form-control"></textarea>
            <div ng-if="errors.body">
              <p ng-repeat="error in errors.body" class="help-block">{{error}}</p>
            </div>
          </div>
        </div>
        <div ng-hide="isEditing(idea.id)" class="btn-group">
          <button type="button" ng-click="edit(idea.id)" class="btn btn-primary">{{ 'EDIT' | translate }}</button>
          <button type="button" ng-click="destroy(idea.id)" class="btn btn-danger">{{ 'DELETE' | translate }}</button>
        </div>
        <div ng-show="isEditing(idea.id)" class="btn-group">
          <button type="button" ng-click="reset(idea.id)" class="btn btn-success">{{ 'RESET' | translate }}</button>
          <button type="button" ng-click="update(idea)" class="btn btn-primary">{{ 'SAVE' | translate }}</button>
        </div>
        <hr>
      </article>
      <div infinite-scroll="nextPage()" infinite-scroll-disabled="isLastPage()">
        <p class="text-center">...</p>
        <div ng-show="!isLastPage()" class="text-center progress progress-striped active">
          <div role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width: 100%" class="progress-bar"><span class="sr-only">Pending</span></div>
        </div>
        <section ng-hide="!isLastPage()">
        </section>
      </div>
    </section>
  </div>
</section>